*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.image{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    img{
        height: 48%;
        width: 98%;
        box-shadow: 0 5px 10px #1a1b1c;
        object-fit: cover;
        border-radius: 4px;
    }
}